<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGcmjHxOQtxOkAs6kn-SLaV6cUk72at0k</string>
	<key>GCM_SENDER_ID</key>
	<string>900359582960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dlalaGroup.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dlala-group-bc8a7</string>
	<key>STORAGE_BUCKET</key>
	<string>dlala-group-bc8a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900359582960:ios:f45181cd92608ceeb9be35</string>
</dict>
</plist>